/*html{
    background-color: rgb(173, 189, 227);
   }*/
head,header, body{
    font-size:20px;color:#212529;font-family:Lora,'Times New Roman',serif
}
body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}
body > div{
	width: 50%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
    border: 1px solid black;
}
h2,h3,h6{
    font-weight:800;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

div{
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
 }
